{% extends 'layouts/base.html' %}

<!-- TRANSLATE -->
{% block title %}The centralized source for your systems connections{% endblock %}

<!-- TRANSLATE -->
{% block meta_description %}Manage and share all your connections in a secure, standarized fashion.{% endblock %}

{% block body %}
<div class="container sm-margin-top">
  <div class="row text-center lg-margin-bottom">
    <!-- TRANSLATE -->
    <h1>Connection Factory</h1>
    <!-- TRANSLATE -->
    <h3 class="text-muted">
      Manage and share all your connections in a secure, standarized fashion.
    </h3>
  </div>
  <div class="row text-center">
    <div class="col-lg-4">
      <i class="fa fa-fw fa-4x fa-bullhorn text-primary"></i>
      <!-- TRANSLATE -->
      <h2>Navigate connections</h2>
      <!-- TRANSLATE -->
      <p class="text-muted">Find and search connections to your systems.</p>
      <p>
        <!-- TRANSLATE -->
        <a href="#" class="btn btn-default">Navigate</a>
      </p>
    </div>
    <div class="col-lg-4">
      <i class="fa fa-fw fa-4x fa-database text-primary"></i>
      <!-- TRANSLATE -->
      <h2>Manage connections</h2>
      <!-- TRANSLATE -->
      <p class="text-muted">Add, modify or delete connections.</p>
      <p>
        <!-- TRANSLATE -->
        <a href="#" class="btn btn-default">Manage</a>
      </p>
    </div>
    <div class="col-lg-4">
      <i class="fa fa-fw fa-4x fa-trophy text-primary"></i>
      <!-- TRANSLATE -->
      <h2>Admin dashboard</h2>
      <p class="text-muted">Manage users and permisions.</p>
      <p>
        <!-- TRANSLATE -->
        <a href="#" class="btn btn-default">Admin</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}